@media print{
    body, .card, .herosection{
        -webkit-print-color-adjust: exact; /* For Chrome, Safari, Edge */
        print-color-adjust: exact;  
    }
}
@media (max-width: 767px) {
    body {
        width: 100%; /* Spans full width on mobile */
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: 0 auto; /* Centers the desktop container */
    }
}
body{
    background-color: #2E2E2E;
    color: #808080;
    font-family: sans-serif;
}
h1{
    font-size: xx-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #b86a3d;
    text-decoration: underline;
    text-decoration-color: darkslateblue;
    box-shadow: 5px 5px 5px #6b8e23;
    background-color: cornsilk;
    border-radius: 8px;
}
.herosection{
    background-color: #924a28;
    margin: auto;
    width: 850px;
    padding: 15px;
    justify-content: center;
    border: 3px solid black;
    border-radius: 8px;
    color: #FFFFFF;
    accent-color: #ffda61;
    margin-bottom: 15px;
}
.herosection h1{
    border-radius: 8px;
    border: 2px solid black;
    width: fit-content;
    padding: 15px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card{
    background-color: #FFFFFF;
    padding: 15px;
    justify-content: center;
    border: 3px solid;
    border-radius: 8px;
    margin: auto;
    text-align: justify;
    width: 800px;
    border-color: black;
    accent-color: #ffda61;
    color: #808080
}
.card h2{
    color: #a0522d;
}
